h1 {
    text-align: center;
    background-color: whitesmoke;
    color: rgb(182, 19, 119);
    font-size: 8ch;
  }
h2 {
    text-align: center;
    background-color: rgb(226, 224, 67);
    color: rgb(30, 149, 179);
    font-size: 6ch;
  }
h3 {
    text-align: center;
    color: black;
    font-size: 4ch;
  }




.nav-link {
  font-stretch: expanded;
  width: 25vw; 
  font-size: 3ch;

}
body {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ3ZfvD2WdQ94wgnyONcILJlAOJtBGFGfJFyg&usqp=CAU);
  background-size: 20%;
  background-repeat: repeat;
}
img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border: thick solid black;
}
table.dataframe {
  background-color: whitesmoke;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border: thick solid black;
  font-stretch: expanded;
  width: 25vw;
  text-align: center;
  font-size: 3ch;  
  
}
iframe {
  position: relative;
  left: 60%;
  transform: translateX(-50%);
  width: 70vw;
  height: 80vh;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}
